@model Restaurante_siglo_XI.Personal
@{
    ViewBag.Title = "LoginAdmin";
}



@using (Html.BeginForm())
{
<section id="formulario">
    <h2>Login Administrador</h2>
    @Html.TextBoxFor(u => u.Correo_personal, new { placeholder = "Correo Electronico" })
    <br />
    @Html.PasswordFor(u => u.contrasenia, new { placeholder = "Contraseña" })
    <br />
    <button>Ingresar</button>
    <br />
    @TempData["mensaje"]
</section>

}
<br />
