@model Restaurante_siglo_XI.Cliente
@{
    ViewBag.Title = "LogIn";
}



@using (Html.BeginForm())
{
    <section id="formulario">
        <h2>Ingresa a tu cuenta</h2>
        @Html.TextBoxFor(u => u.correoCliente, new { placeholder = "Correo Electronico" })
        <br />
        @Html.PasswordFor(u => u.Password, new { placeholder = "Contraseña" })
        <br />
        <button>Ingresar</button>
        <br />
        @Html.ActionLink("no tienes cuenta? Registrate ahora!", "Create", "Usuario")
    </section>

}

<br />
@TempData["mensaje"]

