@model Restaurante_siglo_XI.Cliente
@{
    ViewBag.Title = "LogIn";
}

<h2>Ingresa a tu cuenta</h2>

@using (Html.BeginForm())
{
        @Html.TextBoxFor(u => u.correoCliente, new { placeholder = "Correo Electronico"})
        <br />
        @Html.PasswordFor(u => u.Password, new { placeholder = "Contraseña" })
        <br />
        <button>Ingresar</button>
}
@Html.ActionLink("no tienes cuenta? Registrate ahora!","Create","Usuario")
<br />
@TempData["mensaje"]

