@model Restaurante_siglo_XI.Boleta
@using Restaurante_siglo_XI

<button><i class="fas fa-arrow-circle-left"></i>@Html.ActionLink("Volver", "Index", "Pedidos")</button>
<section id="formulario">

    <h2>CREAR BOLETA</h2>
    @using (Html.BeginForm())
    {
        <!--Html.TextBox("fechaEmision", DateTime.Now.ToString("dd/MM/yyyy") ,new { disabled = "disabled" })-->
        <tr>seleccione una mesa</tr>@Html.DropDownListFor(p => p.id_mesa, new SelectList(ViewBag.mesas, "id_mesa", "numeroMesa"))
        <br />
        @Html.TextBoxFor(b => b.totalBoleta, new { type = "number", placeholder = "Total de la compra", required = "required" })
        <br />
        <button>CREAR BOLETA Y GUARDAR</button>
    }
</section>