@model Restaurante_siglo_XI.Mesa
@{
    ViewBag.Title = "Crear nuevas mesas";
}

<h2>Crear nueva mesa</h2>
<button>@Html.ActionLink("Volver", "homeAdmin", "Persona")</button>

@using (Html.BeginForm())
{
    @Html.TextBoxFor(m => m.numeroMesa, new {type="number", placeholder = "numero de la mesa" })
    <br />
    @Html.TextBoxFor(m => m.maxima_comensales, new { type = "number", placeholder = "cantidad maxima de la mesa" })
    <br />
    @Html.DropDownListFor(p => p.id_ubicacion, new SelectList(ViewBag.ubicacion, "id_ubicacionMesa", "nombre_ubicacion"))
    <button>Crear Mesa</button>
}
