@using Restaurante_siglo_XI
@{
    ViewBag.Title = "Mesas actuales";
}

<h2>Listas de mesas</h2>

@{List<Mesa> mesas = (List<Mesa>)ViewBag.mesas;}


@foreach (var m in mesas)
{
<button>@Html.ActionLink("Mesa: n°" + m.id_mesa, "Index", "Reserva", new { mesa_id = m.id_mesa })</button>
}