@model Restaurante_siglo_XI.Pedido
@{
    ViewBag.Title = "Edit";
}





<button>@Html.ActionLink("Volver a la pagina principal", "homeAdmin", "Persona")</button>
<button>@Html.ActionLink("Volver a la lista de productos", "Index", "Pedidos")</button>


@using (Html.BeginForm())
{
    <section id="formulario">
        <h2>Editar el Pedido del cliente</h2>
        @Html.HiddenFor(p => p.id_pedido)
        @Html.DropDownListFor(p => p.id_estado, new SelectList(ViewBag.estados, "id_estado", "nombre_estado"))
        <button>Modificar Pedido</button>
    </section>

}